function Coin.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push this 1
push constant 16
call Math.divide 2
push this 2
push constant 32
call Math.multiply 2
add
pop this 3
push pointer 0
push this 3
call Coin.coindraw 2
pop temp 0
push constant 0
pop this 4
push pointer 0
return
function Coin.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Coin.get_loc 0
push argument 0
pop pointer 0
push this 3
return
function Coin.coinIsCollected 3
push argument 0
pop pointer 0
push argument 1
call Helicopter.get_x 1
pop local 1
push argument 1
call Helicopter.get_y 1
pop local 2
push constant 0
pop local 0
push this 1
push local 1
sub
call Math.abs 1
push constant 18
lt
push this 2
push local 2
sub
call Math.abs 1
push constant 18
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
label IF_FALSE0
push local 0
return
function Coin.setCoinCollect 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Coin.getCoinCollect 0
push argument 0
pop pointer 0
push this 4
return
function Coin.coindraw 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
push constant 0
add
push constant 4080
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 32
add
push constant 6168
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 64
add
push constant 12300
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 96
add
push constant 24710
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 128
add
push constant 15389
neg
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 160
add
push constant 32095
neg
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 192
add
push constant 32607
neg
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 224
add
push constant 32607
neg
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 256
add
push constant 31775
neg
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 288
add
push constant 32127
neg
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 320
add
push constant 32127
neg
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 352
add
push constant 15709
neg
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 384
add
push constant 25574
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 416
add
push constant 12428
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 448
add
push constant 6168
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 480
add
push constant 4080
call Memory.poke 2
pop temp 0
push constant 0
return
function Coin.collectEffect 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
push constant 0
add
push constant 32511
neg
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 96
add
push constant 4360
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 256
add
push constant 30703
neg
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 384
add
push constant 2320
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 480
add
push constant 16642
call Memory.poke 2
pop temp 0
push constant 0
return
function Coin.eraser 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push argument 1
add
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
